@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.select-wrapper select {
  width: 100%;
  max-width: 100%;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  position: relative;
}

.select-wrapper select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 55%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.291 6.70743C12.9214 6.07759 12.4754 5 11.5842 5H4.41268C3.52199 5 3.07572 6.07669 3.70525 6.70679L7.28781 10.2926C7.67815 10.6833 8.31132 10.6836 8.70202 10.2932L12.291 6.70743Z' fill='%23A4A4A4'/%3E%3C/svg%3E");
}

.hoverBgColor {
  background-color: #f1ecff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* drawer styles  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.overlay.show {
  display: block;
  background-color: #0E0E0F66;
}

.drawer {
  transition: transform 0.5s ease;
  transform: translateX(-300px);
  z-index: 20;
}

.drawer.open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .drawer {
    transform: translateX(0);
  }

  .overlay {
    display: none !important;
  }
}

/* shadows -------> */

.productCardShadow {
  box-shadow: 4px 10px 20px 0px #c7c7c71a;
}

#process-border::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 0;
  background: #d9d9d9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px white;
}

#process-border::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 1px;
  background: #d9d9d9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px white;
}

#inner-point::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 28px;
  background: #d9d9d9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px white;
}

#inner-point::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 27px;
  background: #d9d9d9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px white;
}

#inner-point2::after {
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  bottom: 27px;
  background: #d9d9d9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px white;
}

/* Drawer styles */
#drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  /* Adjust as needed */
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
  z-index: 50;
}

/* Drawer open state */
#drawer.open {
  transform: translateX(0);
  /* Show the drawer */
}

#nav-main {
  z-index: 999;
}

.productImg {
  overflow: hidden;
  position: relative;
  display: block;
}

.productImg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 23%, rgba(123, 83, 231, 0.8) 100%, rgba(123, 83, 231, 0.8) 102%);
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.productImg:hover::before {
  opacity: 1;
  height: 100%;
}

.product-icon {
  position: absolute;
  box-shadow: 0 8px 36px 0 #1111110F;
  top: 15px;
  right: 12px;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.productImg:hover .product-icon {
  opacity: 1;
  cursor: pointer;
}

.workShadow {
  box-shadow: 6px 28px 50px 0 #3159D330;
}

@keyframes moveImage1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, -10px);
    /* Adjust values for subtle movement */
  }
}

@keyframes moveImage2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10px, 10px);
    /* Adjust values for subtle movement */
  }
}

@keyframes moveImage3 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15px, -5px);
    /* Adjust values for subtle movement */
  }
}

@keyframes moveImage4 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-15px, 5px);
    /* Adjust values for subtle movement */
  }
}

.animate-move-image-1 {
  animation: moveImage1 4s ease-in-out infinite;
  /* Adjust duration and easing */
}

.animate-move-image-2 {
  animation: moveImage2 5s ease-in-out infinite;
}

.animate-move-image-3 {
  animation: moveImage3 6s ease-in-out infinite;
}

.animate-move-image-4 {
  animation: moveImage4 4.5s ease-in-out infinite;
}

@keyframes float1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, -5px);
  }
}

@keyframes float2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 5px);
  }
}

@keyframes float3 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(3px, -3px);
  }
}

@keyframes float4 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-3px, 3px);
  }
}

@keyframes float5 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(4px, -4px);
  }
}

@keyframes float6 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-4px, 4px);
  }
}

@keyframes float7 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(2px, -2px);
  }
}

.animate-avatar-1 {
  animation: float1 4s ease-in-out infinite;
}

.animate-avatar-2 {
  animation: float2 5s ease-in-out infinite;
}

.animate-avatar-3 {
  animation: float3 4.5s ease-in-out infinite;
}

.animate-avatar-4 {
  animation: float4 6s ease-in-out infinite;
}

.animate-avatar-5 {
  animation: float5 5.5s ease-in-out infinite;
}

.animate-avatar-6 {
  animation: float6 3.5s ease-in-out infinite;
}

.animate-avatar-7 {
  animation: float7 4s ease-in-out infinite;
}

.contactBackground {
  background-image: url("./assets/contactus-bg.svg");
}

.purpleShadow {
  box-shadow: 0px 7px 29px 0px rgba(123, 83, 231, 0.1);
}
.open #closebtn{
  display: block;
  transition: all 0.5s ease;
}